div.login-container {
    margin: 90px auto 0;
    width: 350px;
}

div.error {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

label.error {
    color: orangered;
}

p.title {
    padding: 15px;
    font-size: 20px;
}

td {
    white-space: nowrap;
}

h1 {
    font-size: 28px;
}

h1.page-header {
    margin: 0 0 20px;
}

h2 {
    font-size: 24px;
}

/* http://www.bootply.com/wmHLIHkDJs */
table.table-nowrap {
    table-layout: fixed;
}

table.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bootstrap-select > .btn-default {
    background-image: none;
    box-shadow: none;
}

/** File Upload => http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/  **/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

ul.non-decorated {
	list-style-type: none;
	padding-left: 0px;
}

li.vertical-gap {
    margin: 15px 0;
    margin-left: 10px;
}

.file-list {
	margin-bottom: 30px !important;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	text-align: center;
	border-top: 1px solid #dddddd;
}

.footer .container p {
	margin: 0px 0px;
	font-size: 12px;
	line-height: 20px;
}
